@using TripGuide.Data.Entities
@using TripGuide.Enums
@model TripDetailsViewModel
@{
    ViewData["Title"] = "Create place to visit";
}

<a asp-action="CreatePlaceToVisit" asp-route-tripId="@Model.Id">Create place to visit</a>

<h1 class="header">Trip details @Model.Name</h1>
<div class="details">
    <h6>Location: @Model.Location</h6>
    <h6>Start date: @Model.StartDate.ToString("D")</h6>
    <h6>End date: @Model.EndDate.ToString("D")</h6>
    <h6>Is public? @(Model.IsPublic ? "Yes" : "No") </h6>
    <form asp-action="SwitchTripStatusPublicity" asp-route-tripId="@Model.Id" asp-route-source="@SourceEnum.TripDetails.ToString()">
        <button type="submit">Switch</button>
    </form>
    <form>
        <button type="submit">Delete trip</button>
    </form>
</div>

<h2 class="header">Places to visit</h2>
<div class="places-list">
    <span class="title-for-place-list">Location visit order:</span>
    <span class="title-for-place-list">Name</span>
    <span class="title-for-place-list">Note</span>
    <span class="title-for-place-list">Delete?</span>

    @foreach (var placeToVisit in @Model.PlacesToVisit)
    {
        <p>@placeToVisit.VisitOrder</p>
        <p>@placeToVisit.Name</p>
        <p>@placeToVisit.Note</p>
        <form asp-route-tripId="@Model.Id" asp-route-placeToVisitId="@placeToVisit.Id" asp-action="DeletePlaceToVisit" method="post">
            <button type="submit">Yes, delete</button>
        </form>
    }
</div>